<html>
   <head>
      <title>Project Megan</title>
      <link href="/css/style.css?v=1" media="screen" rel="stylesheet" type="text/css" />
   </head>
   <body>
      <div id="container">
         <div id="head">
            <%= erb(:header, :layout => false) %>
         </div>
         <div id="main">
            <ul>
               <li><%= douche.name %></li>
               <li><%= douche.date %></li>
               <li><%= douche.location %></li>
               <li><%= douche.short %></li>
               <li><%= douche.long %></li>
               <li><%= douche.sex %></li>
            </ul>

         </div>
         <div id="foot">
            <%= erb(:footer, :layout => false) %>
         </div>
      </div>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
      <script type="text/javascript" src="/js/stuff.js?v=1"></script>
   </body>
</html>
